<h1>Repository details</h1><br>
<h1><i><b>{{repos.owner.login}}</b></i></h1>
<!-- <div class="div1"> -->

    <div class="div2">
        <ul style="list-style: none;">
            <li><img src="{{repos.owner.avatar_url}}" class="img"></li>
            </ul>
    </div>

    <div class="div3" style="background-color: yellowgreen;">
        <ul>
            <li style="text-align: center;">ID:- {{repos.owner.id}}</li>
            <li style="text-align: center;">Description:- {{repos.description}}</li>
            <li style="text-align: center;">Collaborators_Url:- {{repos.collaborators_url}}</li>
            <li style="text-align: center;">HTML_Url:- {{repos.html_url}}</li>

        </ul>

    </div>

<!-- </div> -->