<!-- <p>users works!</p> -->
<div class="div1">
    <input #in type="text" placeholder="Enter Users name to search" class="input1" />
    <select class="select" (change)="getOption($event)">
        <option value="user">User</option>
        <option value="repository">Repository</option>

    </select>
    <button (click)="getInput(in.value)" class="btn1">search</button>

    <div *ngIf="chooseType;then block1;else block2"></div>
    <div class="div4">

        <ng-template #block1>
            <h3 style="font-size: 20px;"><b><i> Users </i></b></h3>
            <pagination-controls (pageChange)="page = $event" class="pagin"></pagination-controls><br>
            <hr>



            <ul (click)="perticular(i)" *ngFor="let i of users | paginate: { itemsPerPage: 10, currentPage: page,totalItems:totalLength}"
                class="ul1" style="list-style: none;">
                <table  class="div2" width="1360px">
                    <tr>
                        <td class="l1">{{i.login}}</td>
                        <td rowspan="2"><img src="{{i.avatar_url}}" class="imga"></td>
                    </tr>
                    <tr>
                        <td class="l1"><a href="{{i.repos_url}}">{{i.repos_url}}</a></td>

                    </tr>
                </table>


            </ul>

        </ng-template>

        <ng-template #block2>
            <h3 style="font-size: 20px;"><b><i> Repositories </i></b></h3>
            <pagination-controls (pageChange)="page = $event" class="pagin"></pagination-controls><br>
            <hr>


            <ul (click)="perticular1(i)" *ngFor="let i of users | paginate: { itemsPerPage: 10, currentPage: page ,totalItems:totalLength }"
                class="ul1" style="list-style: none;">
                <table  class="div2" width="1360px">
                    <tr>
                        <td class="l1">{{i.owner.login}}</td>
                        <td rowspan="2"><img src="{{i.owner.avatar_url}}" class="imga"></td>
                    </tr>
                    <tr>
                        <td class="l1"><a href="{{i.owner.repos_url}}">{{i.owner.repos_url}}</a></td>

                    </tr>
                </table>


            </ul>
        </ng-template>
    </div>

</div>